.card-header-line {
  background: linear-gradient(90deg, #5a8fff 0%, #b06aff 72%);
}

.plate-gray {
  background-color: #c4c4c4;
}

.plate-green {
  background-color: #55b751;
}

.plate-blue {
  background-color: #2e87da;
}

.plate-yellow {
  background-color: #f7de4b;
}
.license-plate-content {
  min-height: 30px;
}

.plate-point {
  right: -3px;
}
