.leave-today-container {
  width: 594px;
}

.departure-month-container, .leave-today-container {
  height: 400px;
}

.card-header-line {
   background: linear-gradient(90deg, #5A8FFF 0%, #B06AFF 72%);;
}

.leave-year-container,
.overrun-year-container {
  height: 502px;
}
